<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hacker League</title>
    <!--Styles-->
    <link rel="stylesheet" href="/style.css">
    <!--Boostrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--Jquery-->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--Add tables, CSS and JS-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!--Datatable.JS-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
  </head>
  <body>
    <section class="menu">
      <!--Title-->
      <div class="title">
        <h2>The Hacker League</h2>
        <div class="underline"></div>
      </div>
      <!--Nav bar-->
      <div class="btn-container">
        <a class="filter-btn" href="/">Home</a>
        <a class="filter-btn" href="/leader-board">Leader Board</a>
        <a class="filter-btn" type="button">Add Team</a>
        <a class="filter-btn" type="button">Select Teams</a>
      </div>

      <div class="container">
        <!--<h2>Dashboard</h2>-->
        <table class="table table-fluid" id="myTable">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Team Name</th>
              <th>Scores</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>Team 1</td>
              <td>0</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Team 1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Team 1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>1.</td>
                <td>Team 1</td>
                <td>0</td>
            </tr>
          </tbody>

        </table>
      </div>


    </section>
    <script>
      $(document).ready( function () {
        $('#myTable').DataTable();
      } );
      </script>
  </body>
</html>