<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="/images/favicon (1).ico" type="image/gif" sizes="32x32">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hacker League</title>
    <!--Styles-->
    <link rel="stylesheet" href="/style.css">
    <!--Boostrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--Jquery-->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!--Add tables, CSS and JS-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!--Datatable.JS-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
  </head>
  <body>
    <section class="menu">
      <!--Title-->
      <div class="title">
        <h2>The Hacker League</h2>
        <div class="underline"></div>
      </div>
      <!--Nav bar-->
      <div class="btn-container">
        <a class="filter-btn btn" href="/">Home</a>
        <a class="filter-btn btn" href="/leader-board">Leader Board</a>
        <a class="filter-btn btn" data-toggle="modal" data-target="#loginModal" href="#">Add Team</a>
        <a class="filter-btn btn" data-toggle="modal" data-target="#selectTeamModal" href="#">Select Teams</a>
      </div>

      <!--Modals-->
      <!--<div class="container jumbotron text-center">
        <h3>bootstrap Modal login form </h3>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#loginModal">Login</button>
      </div>
    -->
    <!--Selecting Modal-->
    <div class="modal fade select-team" role="dialog" id="selectTeamModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Select Your Teams</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Team A" id="">
                  </div>
                  <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Team B" id="">
                  </div>
                  <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Match Result" id="">
                  </div>
                  <div class="form-group">
                    <label for="tie" class="form-control">Tie</label>
                    <input type="radio" id="tie" name="tie" class="form-control">
                    
                  </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn filter-btn">Add My Team</button>
            </div>
          </div>
        </div>
    </div>
    
    <!--adding Modal-->
    <div class="modal fade" role="dialog" id="loginModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Add Your Team</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input type="text" name="team_name" class="form-control" placeholder="Team Name" id='team_name'>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn filter-btn" data-dismiss="modal" onclick="addTeam()">Add My Team</button>
          </div>
        </div>
      </div>
    </div>
    <!--alert for "add team"-->
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="addTeam" style="display: none;text-align: center;background-color: #C59D5F;color: white;" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <strong>Heads Up!</strong> Your Team Is Added Successfully.
    </div>

      <div class="container">
        <h2 style="text-align:center"></h2style> Leader Board</h2>
        <table class="table table-fluid table-striped" id="myTable">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Team Name</th>
              <th>Scores</th>
            </tr>
          </thead>
          <tbody>
            <% allData.forEach((eachData, index )=> { %> 
              <tr> 
                <td><%= index+1 %> </td>
                <td><%= eachData.team_name %></td>
                <td><%= eachData.score %></td>
              </tr>  
            <% }) %>
          </tbody>

        </table>
      </div>


    </section>
    <script>
      $(document).ready( function () {
        $('#myTable').DataTable();
      } );

      const addTeam = () =>{
        var teamname = document.getElementById('team_name').value
        const req = new XMLHttpRequest();
        req.open('GET', '/add-team?team_name='+teamname, true);
        req.send();
        req.onload = () => {
          const json = JSON.parse(req.responseText);
          document.getElementById('loginModal').style.display = 'none';
          document.getElementById('addTeam').style.display = 'block';
        }
        req.onerror = ()=>{
          alert('something went wrong')
        }
      }
      </script>
  </body>
</html>